<%= @year %>年 <%= @month %>月
<p>
<a href="/<%= @prevyear %>/<%= @month %>"> 去 月</a>
　
<a href="/<%= @thisyear %>/<%= @month %>"> 今 月 </a>
　
<a href="/<%= @nextyear %>/<%= @month %>"> 来 月 </a>
<p>
<%= @t %>
